# === This a template for your custom node configuration.
# Copy it to node.env and edit.

# Node name on the network in the prometheus metrics
node_name=node-N

# All docker containers will have this prefix
project_name=hoku-testnet-node-0

parent_endpoint="https://calibration.node.glif.io/archive/lotus/rpc/v1"
parent_endpoint_token=

validator_private_key=setme

# IP address to bind the ports of the services to.
# Set to your host IP or 0.0.0.0
host_bind_ip="127.0.0.1"

# IP address to advertise to peers for them to dial.
# You might want to change it if the node is running behind a proxy or NAT.
advertised_external_ip=$host_bind_ip

# Email to submit for Let's Encypt TLS certificates
acme_email=
base_dns_domain= # base_dns_domain is for convenience only. It is only used in the dns_ values below.
dns_api=api.$base_dns_domain
dns_evm=evm.$base_dns_domain
dns_objects=objects.$base_dns_domain
dns_faucet=faucet.$base_dns_domain
dns_basin_s3=basin-s3.$base_dns_domain

enable_basin_s3=false
# Optional unless enable_basin_s3=true
basin_s3_access_key=
basin_s3_secret_key=
